body {
  background-color:#f6f6ef
}

h1,
p {
  font-family: "Inconsolata", sans-serif;
  font-weight: 750;
  color:#A33B20

}

h2,
h3,
h4,
h5,
h6,
.side-bar {
  font-family: "Inconsolata", sans-serif;
  font-weight: 650;
  color:#2F4858;
}
.sidebar-brand-text{
  color:#f6f6ef
  
}

.btn{
  color: #f6f6ef;
  background-color:#2F4858
}

.oi{
  color: #A33B20
}

.side-bar {
  background-color: #2F4858;
  min-width: 200px;
  
}


main,
.side-bar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  position: fixed;
}

/* media only for smaller screens*/

 
@media only screen and (max-width: 850px) {
  .navbar {
    position: absolute;
    display:flex;
    bottom:10%;

  }


  span.navText {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .col-md-2 {
  padding-top:40px;
  }

  .navbar-nav {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
  }
  main {
    padding-top: 0px;
    padding-bottom: 50px;
  }
} 
